body
{
    font-family: 'Noto Sans TC', sans-serif;
    background-image: url(landscape-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

#secretWord
{
    font-size: 150%;
    
    border: 2px solid black;
    width: 305px;
    margin: auto;
    font-weight: bold;
}

.Buttons
{
    width: 35px;
    border-radius: 7px;
    border: 2px solid white;
    outline: none;

    background: none;
    cursor: pointer;
    font-size: 150%;
    color: white;
}
.Buttons:hover{
    background-color: white;
    color: black;
}
.divider
{
    width: 1.5px;
    display: inline-block;
}
#numberGuesses
{
    margin-left: 220px;
}
#newGame
{
    margin-top: 10px;
    outline: none;
    width: auto;
    color: black;
    background-color:white;
}
#newGame:hover
{
    transform: translateY(-3px);
    box-shadow: 0 5px gray; 
}
#newGame:active
{
    background-color: rgb(228, 228, 228);
    border-color: rgb(228,228,228);
    transform: translateY(3px);
    box-shadow: none;
}
#congrats{
    color: white;
    font-weight: bold;
}

@media only screen and (max-width: 450px)
{
    body
    {
        background-image: url(portrait-background.jpg);
    }
    .Buttons
    {
        font-size: 130%;
        font-weight: bold;
        width: auto;
        color: white;

    }
    @media only screen and (min-width: 240px) and (max-width: 350px)
    {
        #secretWord
        {
            border-color: white;
            color: white;
            font-weight: bold;
        }
    }
}