body
{
    font-family: 'Noto Sans TC', sans-serif;
    background-image: url(landscape-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

@media only screen and (max-width: 450px)
{
    body
    {
        background-image: url(portrait-background.jpg);
    }
}